[Unit]
Description=My Home Controller server
After=network.target auditd.service

[Service]
EnvironmentFile=-/opt/myhomecontroller
ExecStart=/opt/myhomecontroller/start.sh
Restart=on-failure

[Install]
WantedBy=default.target
